@media (max-width:1200px){
    section.blog .article h1 {
        font-size: 34px;
        }
    }
    section.blog .article .content>p {
        font-size: 19px;
     
    }
    section.blog .post-list h4 {
        font-size: 18px;
     
    }
    @media (max-width:750px){
        section.blog .article {
            flex-wrap: wrap;
        } 
        section.blog .article>img {
            width: 90%;
            margin: auto;
            margin-top: 30px;
        }
    }
    section.blog .post-list .post { 
        width: 80%;
        box-sizing: border-box;
        margin: 30px auto 0 auto;
    }

    @media (max-width:500px){
        section.blog .post-list .box {
            margin-top: 15px;
            width: 100%;
    }
    section.blog .post-list .box {
        width: 60%;
        float: right;
        margin: auto;
        text-align: left;